.search {
    display: flex;
    gap: 12px;
    min-width: 256px;
    height: 51px;
    box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
    padding: 0px 30px 0px 18px;
    border-radius: 10px;
    border: solid 1px #eeeeee;
    align-items: center;
}

.search_input {
    outline: none;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    text-align: start;
    border: none;
}

.icon {
    width: 13.5px;
    height: 13.5px;
}
